#display{
    min-height: 70px;
    background-color: #eeeeee;
    margin-top: 50px;
    border-radius: 5px;
    padding: 10px;
}

#keys{
    margin-top: 20px;
}

#keys div div{
    height: 50px;
    width: 50px;
    border: 2px solid lightpink;
    border-radius: 5px;
    margin: 0px;
    padding: 8px;
    text-align: center;
    display: inline-block;
    font-size: 20px;
    color: lightgray;
}

#keys div div:hover{
    background-color: #f0f0f0;
}

.current-key{
    color: brown !important;
    background-color: lightpink;
    border-color: bisque;
}

.key-row{
    margin-bottom: 4px;
}

#key-row2{
    margin-left: 20px;
}

#key-row3{
    margin-left: 40px;
}

#space{
    margin-left: 105px !important;
    width: 300px !important;
}

.container{
    margin-top:20px;
    max-width: 620px;
}

textarea{
    width:100%;
    display: block;
    
    margin-bottom: 20px;
}